{{#partial "styles"}}
    <!--    Custom index page css-->
    <link rel="stylesheet" href="/style.css">
{{/partial}}

{{#partial "content"}}
<!--    <div class="search_wrap search_wrap_3">-->
<!--        <div class="search_box">-->
<!--            <input type="text" class="input" placeholder="search items .......">-->
<!--            <div class="btn btn_common">-->
<!--                <i class="fas fa-search"></i>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<th>
    {{# if store}}

                <h5>{{name}}</h5>
                <h5>{{address}}</h5>
                <h5>{{website}}</h5>


    {{/if}}
</th>

    <table class = "content-table">
        <thead>

        <tr>
            <th>Name</th>
            <th>Board</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Store</th>
        </tr>
        </thead>
        <tbody>
        {{# if items}}
            {{#each items}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{brand}}</td>
                    <td>{{quantity}}</td>
                    <td>{{price}}</td>
                    <td>{{storeId}}</td>

                </tr>
            {{/each}}
        {{/if}}


        </tbody>
    </table>


{{/partial}}
{{>nav.hbs}}